<html>
  <head>
    <title>sandbox index</title>

      <meta charset='utf-8'>
      <meta name='viewport' content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width'>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel='stylesheet' href="index.css">

      <!-- Block for add. head content -->
  </head>

    <!-- The nav  bar will be in base.html rather than index, but not using templating for sandbox stuff -->
    <nav class='navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between'>
        <a id='login' class='btn btn-secondary'>
          Login
            <!-- {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'login' %}">Login</a>
            {% endif %} -->
        </a>
        <!-- This would also be within the if user is authenticated conditional -->
        <a id='user-btn' class='btn btn-secondary'>
          My Favorites
        </a>
    </nav>

      <!-- {% block content %}
      {% endblock %} -->
  <body>
    <div class='gallery'>
      <div class='card'>
        <img src="https://i-love-png.com/images/grey_thumb.png" class='card-img-top' alt='some_img' height="100vh" width='100vw'>
        <a href='#' class='btn btn-primary top-right'>&#9734;</a>
        <div class='card-body'>
          Some text about the img will go here...
        </div>
      </div>
      <div class='card'>
        <img src="https://i-love-png.com/images/grey_thumb.png" class='card-img-top' alt='some_img' height="100vh" width='100vw'>
        <a href='#' class='btn btn-primary top-right'>&#9734;</a>
        <div class='card-body'>
          Some text about the img will go here...
        </div>
      </div>
      <div class='card'>
        <img src="https://i-love-png.com/images/grey_thumb.png" class='card-img-top' alt='some_img' height="100vh" width='100vw'>
        <a href='#' class='btn btn-primary top-right'>&#9734;</a>
        <div class='card-body'>
          Some text about the img will go here...
        </div>
      </div>
      <div class='card'>
        <img src="https://i-love-png.com/images/grey_thumb.png" class='card-img-top' alt='some_img' height="100vh" width='100vw'>
        <a href='#' class='btn btn-primary top-right'>&#9734;</a>
        <div class='card-body'>
          Some text about the img will go here...
        </div>
      </div>
      <div class='card'>
        <img src="https://i-love-png.com/images/grey_thumb.png" class='card-img-top' alt='some_img' height="100vh" width='100vw'>
        <a href='#' class='btn btn-primary top-right'>&#9734;</a>
        <div class='card-body'>
          Some text about the img will go here...
        </div>
      </div>
      <div class='card'>
        <img src="https://i-love-png.com/images/grey_thumb.png" class='card-img-top' alt='some_img' height="100vh" width='100vw'>
        <a href='#' class='btn btn-primary top-right'>&#9734;</a>
        <div class='card-body'>
          Some text about the img will go here...
        </div>
      </div>
    </div>
  </body>

  <footer></footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
