<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>User Prof template</title>
	</head>
	<body>
		<!-- Pic in TL, favs floating right? -->
		<!-- Pretty empty page, but I think that's all we need... 
			{% if user.favorites %}
				{% for item in user.fav %}
					<div>CLASS STUFF</div>
			{% endif %}
		-->
	</body>
</html>